@{
    Layout = "_Layout";
    ViewData["Title"] = "Acceso Denegado";
}

<div style="text-align:center; padding-top:100px; background-color:#f8f9fa; min-height:100vh;">
    <h1 style="color:#c0392b;">🚫 Acceso denegado</h1>
    <p>No tienes una sesion Iniciada para acceder a esta sección.</p>
    <a href="@Url.Action("Index", "Home")" style="color:#2980b9; text-decoration:none;">Volver a Iniciar Sesion</a>
</div>
