@model ChoferModel
@{
    ViewData["Title"] = "Choferes";
    //Layout = "~/Views/Shared/_LayParc.cshtml";

}



    <div class="card-custom">
        <form asp-action="Modificar" asp-controller="Chofer" method="post">
            <input type="hidden" asp-for="Id" id="Id" />



            <div class="card shadow-sm mb-4">
                <div class="card-header bg-primary text-white">Información de Chofer</div>
                <div class="card-body">
                    <div class="row g-3">
                        <div class="col-md-6 col-sm-6">
                            <label class="form-label" for="Nombre">Nombre</label>
                            <input asp-for="Nombre" type="text" class="form-control" placeholder="[Nombre Chofer]" id="Nombre" />
                        </div>

                        <div class="col-md-3 col-sm-3">
                            <label class="form-label" for="NoUnidad">Número Unidad</label>
                            <input asp-for="NoUnidad" type="text" class="form-control" placeholder="[Número de unidad]" id="NoUnidad" />
                        </div>

                        <div class="col-md-3 col-sm-3">
                            <label class="form-label" for="KgCapac">Capacidad en KG</label>
                            <input asp-for="KgCapac" type="number" class="form-control" placeholder="[KG]" id="KgCapac" min="100" step="100" />
                        </div>
                    <div class="col-md-6 col-sm-6">
                        <label class="form-label" for="Proveedor">Proveedor</label>
                        <input asp-for="Proveedor" type="text" class="form-control" placeholder="[Proveedor]" id="Proveedor" />
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <label class="form-label" for="Telefono">Teléfono</label>
                        <input asp-for="Telefono" type="text" class="form-control" placeholder="[Teléfono]" id="Telefono" />
                    </div>
                    </div>
                </div>
            </div>



            <div class="d-flex justify-content-end mt-3">
            <button type="submit" class="btn btn-success btn-lg">Guardar</button>

                <button type="button" class="btn btn-secondary btn-lg"
                        onclick="loadPartial('@Url.Action("Index", "Chofer")',document.querySelector('.toolbar button[data-url=\'/Chofer/Index\']'));return false;" >
                    Cancelar
                </button>

            </div>
        </form>
    </div>




