

.vs/

Plataforma_CG/bin/

Plataforma_CG/obj/


Plataforma_CG/appsettings.json

Plataforma_CG/Program.cs

Plataforma_CG/wwwroot/uploads/incidencias/9e7f7ee8-52c6-456d-8965-a9afcf4fec84.jpeg

Plataforma_CG/wwwroot/uploads/incidencias/4a623245-6350-4f4d-81a4-284c44fbadbd.jpeg

Plataforma_CG/wwwroot/uploads/incidencias/861f53e9-9f6b-4b7b-b5e4-e25ae4af5839.jpeg
