@model ProspectoModel
@{
    ViewData["Title"] = "Prospectos";

}
<h5>Nuevo Prospecto</h5>

<div class="container-fluid p-4 mt-3" style="border: 2px solid #8B0000; border-radius: 12px; background-color: #fff;">
    <form asp-action="Guardar" enctype="multipart/form-data" asp-controller="Prospecto" method="post">
        @* <div class="card shadow-sm mb-4"> *@
        @* <div class="card-header bg-primary text-white">Información General</div> *@
        @* <div class="card-body"> *@
        <div class="row g-3">
            <div class="col-md-6">
                <label asp-for="NombreComercial" class="form-label">Nombre Comercial</label>
                <input asp-for="NombreComercial" class="form-control" required />
            </div>
            <div class="col-md-6">
                <label asp-for="PersonaAtendio" class="form-label">Atendido por:</label>
                <input asp-for="PersonaAtendio" class="form-control" />
            </div>
            <div class="col-md-4">
                <label asp-for="PerfilPersonal" class="form-label">Perfil de empleado:</label>
                <select asp-for="PerfilPersonal" class="form-select">
                    <option>Empleado</option>
                    <option>Gerente</option>
                    <option>Dueño</option>
                </select>
            </div>
            <div class="col-md-4">
                <label asp-for="TipoCanal" class="form-label">Tipo canal</label>
                <select asp-for="TipoCanal" class="form-select">
                    <option>Abarrotes</option>
                    <option>Carnicería</option>
                    <option>Autoservicio</option>
                </select>
            </div>
            <div class="col-md-4">
                <label asp-for="TipoProducto" class="form-label">Tipo de producto</label>
                <select asp-for="TipoProducto" class="form-select">
                    <option>Res</option>
                    <option>Pollo</option>
                    <option>Cerdo</option>
                    <option>Abarrotes</option>
                </select>
            </div>

            <!-- Geolocalización con dirección legible -->
            <div class="col-md-6">
                <label asp-for="Ubicacion" class="form-label">Ubicación actual</label>
                <div class="input-group">
                    <input asp-for="Ubicacion" id="geolocalizacion" class="form-control" placeholder="Mi ubicación" readonly />
                    <button type="button" class="btn btn-primary" onclick="obtenerUbicacion()">📍 Mi Ubicación</button>
                </div>
            </div>

            <!-- Foto Fachada -->
            <div class="col-md-6">
                <label asp-for="FotoFachada" class="form-label">Foto Fachada</label>
                <input asp-for="FotoFachada" type="file" class="form-control" accept="image/*" capture="environment" />
            </div>
        </div>
        @* </div> *@
        @* </div> *@
        <hr />
        @* <div class="card shadow-sm mb-4"> *@
        @* <div class="card-header bg-secondary text-white">Detalles Comerciales</div> *@
        @* <div class="card-body"> *@
        <div class="row g-3">
            <div class="col-md-6">
                <label class="form-label">Lista de Precios</label>
                <input type="file" asp-for="ArcListaPrecios" class="form-control" accept="application/pdf"/>
            </div>
            <input type="hidden" asp-for="TopTenPrecios" class="form-label" value="0">
           
            @* <div class="col-md-6"> *@
            <input type="hidden" asp-for="Credito" class="form-label" value="0">
            @* </div> *@
            <div class="col-md-6">
                <label asp-for="MetodoPago" class="form-label"> Método de pago</label>
                <select asp-for="MetodoPago" class="form-select">
                    <option>Transferencia</option>
                    <option>Efectivo</option>
                </select>
            </div>
            <div class="col-md-6">
                <label asp-for="OtrasMarcas" class="form-label">Otras marcas</label>
                <input asp-for="OtrasMarcas" class="form-control" />
            </div>
            <input type="hidden" asp-for="FacilitaRebanado" class="form-select" value="0">


            <input type="hidden" asp-for="VolumenCompra" class="form-control" value="" />

            <input type="Hidden" asp-for="PeriodicidadCompra" class="form-control" value="" />
            <!-- Audio -->
            <div class="col-md-6">
                <label asp-for="AudioPath" class="form-label">Audio</label>
                <input asp-for="Audio" type="file" class="form-control" accept="audio/*" capture />
            </div>
            <div class="col-md-6">
                <label asp-for="NumeroTiendas" class="form-label">Número de sucursales</label>
                <input asp-for="NumeroTiendas" class="form-control" type="number" />
            </div>
        </div>
        @* </div> *@
        @* </div> *@

        <div class="d-flex justify-content-between align-items-center">
            <div>
                <br>
                <button type="submit" class="btn btn-info btn-lg w-20">Guardar Prospecto</button>
                <button type="submit" class="btn btn-secondary btn-lg w-20"
                        onclick="loadPartial('@Url.Action("Index", "Prospecto")',document.querySelector('.toolbar button[data-url=\'/Prospecto/Index\']'));return false;">
                    Cancelar
                </button>
            </div>
        </div>
    </form>
</div>