@model List<Plataforma_CG.Models.Reportes.ViewModels.ColumnaReporteViewModel>

<div class="col-12">

    <details>
        
        <summary class="fw-bold">
            Columnas Visibles
        </summary>

        <div class="row mt-2">

            @foreach (var columna in Model)
            {
                <div class="col-md-3">

                    <div class="form-check">

                        <input
                            class="form-check-input"
                            type="checkbox"
                            name="visible"
                            value="@columna.Key"
                            checked="@columna.Visible" />

                        <label class="form-check-label">

                            @columna.Titulo

                        </label>

                    </div>

                </div>
            }

        </div>

    </details>
</div>